<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
<servlet>
	<servlet-name>main</servlet-name>
	<servlet-class>com.baizhi.action.MainAction</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>main</servlet-name>
	<url-pattern>/main</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>allUrl</servlet-name>
	<servlet-class>com.baizhi.action.AllOneUrlAction</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>allUrl</servlet-name>
	<url-pattern>/allUrl</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>getImg</servlet-name>
	<servlet-class>com.baizhi.action.GetImgAction</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>getImg</servlet-name>
	<url-pattern>/getImg</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>phone</servlet-name>
	<servlet-class>com.baizhi.action.AllHFAction</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>phone</servlet-name>
	<url-pattern>/allHF</url-pattern>
</servlet-mapping>
</web-app>